#highlights {
    background: linear-gradient(to bottom, var(--bg-color), var(--color-primary));

    &>div {
        &>h2 {
            margin-bottom: 2rem;
            color: var(--color-secondary);
            text-transform: capitalize;
        }
    }

    .cards {
        display: grid;

        & .card {
            background-color: var(--text-color-primary);
            width: 20rem;
            border-radius: .75rem;

            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1/1;
                inset: 0;
                border-start-start-radius: .75rem;
                border-start-end-radius: .75rem;
            }
        }

        & :nth-child(3) {
            img {
                background: linear-gradient(to top, var(--bg-color), var(--color-primary));
            }
        }
    }

    .text {
        padding: .5rem 1rem;
        margin-bottom: 1rem;
        & h3 {
            color: var(--color-primary);
            padding-block: .5rem;
        }

        &>p {
            color: var(--bg-color);
            font-size: var(--fs-base);
            padding-block: 1rem;
        }

        & .btn {
            --btn-bg-color: var(--color-primary);
            --btn-color: var(--color-text-primary);
        }
    }
}

@media (width >= 57.875rem) {
    #highlights {
        & .cards {
            grid-template-columns: 1fr 1fr 1fr;

            & .card {
                width: 100%;
            }
        }
    }

}